
@media print{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

html {
  background-image: url('/public/kitchen2.jpg'); 
  background-repeat: no-repeat;
}

body {
  width: 80%;
  height: 93vh;
  margin: auto;
  border-radius: 10px;
}

/*----------------- Page not found --------------- */

.not-found {
  text-align: center;
  font-size: 50px;
  color: red;
  margin-bottom: 100px;
}

.back-home {
  text-align: center;
  font-size: 35px;
}


/*----------------- Start Homepage Component--------------- */

.loading {
  color: blue;
}


.header {
  background-color: rgba(255, 235, 205, 0.567);
  border: 1px solid black;
  margin: 20px 0px 10px 5%;
  font-family: cursive;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  color:black;
  width: 250px;
}

.search-category {
  border-radius: 5px;
  display: flex;
  float: right;
  width: 254px;
  height: 30px;
  font-weight: bold;
}

.invalid {
  border-color: red;
}

.search-btn {
  border-radius: 5px;
  display: flex;
  float: right;
  width: 80px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.list-home-categories {
  background-color:blanchedalmond;
  margin: 20px 10px 10px 25px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  list-style: none;
  overflow: hidden;
  cursor: pointer;
  width: 250px;
  height: 250px;
}

.list-home-categories:hover {
  background-color:rgb(41, 226, 41);
}

.category-name {
  text-decoration: none;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.category-main-image {
  width: 220px;
  height: 200px;
}

/* -----------------------Start FoodCategory Component---------------------- */

.category-title {
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 40px;
}

.foods-main-container {
  background-color: rgba(255, 99, 71, 0.576);
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 80vh;
}

.recipe-back-button {
  background-color: whitesmoke;
  margin: 20px 0px 20px 45%;
  border-radius: 10px;
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: black;
  cursor: pointer;
  width: 140px;
}

.recipe-back-button:hover {
  background-color: rgba(128, 128, 128, 0.403);
}

/* ---------------------Start Food Tile Component--------------------- */

.food-container {
  background-color: rgba(255, 68, 0, 0.681);
  margin: 30px 0 10px 40px;
  overflow: hidden;
  display: inline-block;
  border-radius: 5px;
  width: 250px;
  height: 318px;
}

.food-tile-name {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
  color: white;
  margin: 0px;

}

.food-tile-image {
  width: 240px;
  height: 200px;
  margin-left: 5px;
}

.recipe-tile-button {
  background-color: rgba(0, 128, 0, 0.52);
  margin: 0px 10px 10px 60px;
  border-radius: 3px;
  font-family: cursive;
  font-weight: bold;
  font-size: 18px;
  color: white;
  cursor: pointer;
  width: 120px;
}

.recipe-tile-button:hover {
  background-color: grey;
}

.votes-btn {
  font-weight: bold;
  cursor: pointer;
  width: 125px;
  height: 30px;
}

.votes-btn:hover {
  background-color: blanchedalmond;
}

/* -----------------------Start food Component---------------------- */

.food-recipe-main-container {
  margin-top: 20px;
}

.food-recipe-header {
  font-family: cursive;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color:black;
}

.printnaddbtns{
  margin: 5px 10px 0px 0px;
  font-weight: bold;
  display: flex;
  float: right;
}

.food-print-btn, .food-add-btn {
  background-color: white;
  border-radius: 5px;
  font-family:serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.food-print-btn:hover {
  background-color: rgba(255, 235, 205, 0.755);
}

.food-add-btn:hover {
  background-color: rgba(255, 235, 205, 0.473);
}

.recipe-container {
  background-color: rgba(255, 228, 196, 0.68);
  border: 1px solid black;
  border-radius: 10px;
}

.recipe-and-steps-title, .prep-cook-time {
  font-size: 25px;
  color: black;
  font-weight: bolder;
  margin-left: 30px;
  font-family: serif;
}

.ul-list-ingredients {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0px 30px 0px 30px;
  font-size: 22px;
}

.ul-list-steps {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0px 30px 30px 12px;
  list-style: none;
  font-size: 22px;
}

.step-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.step-description {
  margin: 10px 0px 10px 0px;
}

.prepCookTime {
  margin: 0px 0px 40px 30px;
  font-size: 20px;
}

.food-back-button {
  margin: 20px 10px 20px 41%;
  background-color: beige;
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
}

.food-back-button:hover {
  background-color: rgba(128, 128, 128, 0.367);
}

.food-home-button {
  background-color: beige;
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
}

.food-home-button:hover {
  background-color: rgba(128, 128, 128, 0.367);
}

/*------------------------- Start Grocery List-------------------------- */

.grocery-list-container {
  background-color: rgba(245, 245, 220, 0.84);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  border: 5px;
  height: 85vh;
}
.grocery-list-header {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 40px;
  color: black;
  margin-left: 30px;
}

.grocery-print-btn {
  margin: 10px 20px 0px 0px;
  background-color: white;
  border-radius: 5px;
  font-family: serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 26px;
  display: flex;
  float: right;
}

.grocery-print-btn:hover {
  background-color: blanchedalmond;
}

.list-content {
  font-weight: bold;
  font-size: 22px;
}

.input-add-item {
  margin-left: 10px;
  width: 77%;
  height: 40px;
  cursor: pointer;
}

.grocery-add-btn {
  font-family: sans-serif;
  width: 20%;
  height: 45px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

.grocery-add-btn:hover {
  background-color: blanchedalmond;
}

.grocery-container {
  margin-left: 10px;
  margin-top: 20px;
}

.grocery-home-btn {
  background-color: beige;
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
}

.grocery-back-btn {
  margin: 20px 10px 20px 41%;
  background-color: beige;
  font-family: sans-serif;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  width: 120px;
}

.grocery-print-btn:hover {
  background-color: rgba(255, 235, 205, 0.755);
}

.grocery-add-btn:hover {
  background-color: rgba(255, 235, 205, 0.473);
}

.checkbox {
  margin-left: 20px;
}


/* ------------end-------------- */


